
:root {
  --p: dodgerblue;
  --spritesuci: 'https://www.uci.cu/sites/all/themes/uci/images/sprite.png';
  --xavia: #4ec61a;
  --xabaldark: #a6351a;
  --xabal: #e14d46;
  --xauce: #ec7426;
  --xedro: #c64ab9;
  --xilema: #4e86df;

  --upcolor: #323a8b;
  --downcolor: #11134b;

  --logotipo1:#252159;
  --logotipo2:#333B92;
  --logotipo3:#150D42;
  --logotipo4:#353E73;

  --generico:#272B72; /*Empresa - industria*/
  --standscolor: #726584;
}
html{scroll-snap-type: block proximity;}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Electrofied";
  /* src: url('fonts/electr.ttf'); */
  src: url("https://db.onlinewebfonts.com/t/f45d0d0e10eb5171b1ad9ee95d1314f9.ttf") format("truetype")
  }
  @font-face {
    font-family: "Aller";
    src: url("https://db.onlinewebfonts.com/t/3bf7501ddcf8338bc9cdcedad10914cb.ttf") format("truetype")
  }
.actions {
  padding-inline: 16px;
}
#brand-bars-wrapper{
  margin-bottom: 20%;
}
.brand-wrapper {
  margin-bottom: 3rem;
  scroll-snap-align: start;
}
.brand-bar {
  margin-bottom: none;
  width: 100%;
}

/*BRANDS*/
.xavia-bar {
  box-shadow: 0 2px 0 0 var(--xavia);
  background: linear-gradient(140deg, var(--xavia) 30%, #fff 80%);
}
.xavia-bar .brand {
  color: var(--xavia);
}
.xabal-bar {
  -webkit-box-shadow: 0 2px 0 0 var(--xabal);
  box-shadow: 0 2px 0 0 var(--xabal);
  background: -o-linear-gradient(310deg, var(--xabal) 30%, #fff 80%);
  background: linear-gradient(140deg, var(--xabal) 30%, #fff 80%);
}
.xabal-bar .brand {
  color: var(--xabal);
}
.xauce-bar {
  -webkit-box-shadow: 0 2px 0 0 var(--xauce);
  box-shadow: 0 2px 0 0 var(--xauce);
  background: -o-linear-gradient(310deg, var(--xauce) 30%, #fff 80%);
  background: linear-gradient(140deg, var(--xauce) 30%, #fff 80%);
}
.xauce-bar .brand {
  color: var(--xauce);
}
.xedro-bar {
  -webkit-box-shadow: 0 2px 0 0 var(--xedro);
  box-shadow: 0 2px 0 0 var(--xedro);
  background: -o-linear-gradient(310deg, var(--xedro) 30%, #fff 80%);
  background: linear-gradient(140deg, var(--xedro) 30%, #fff 80%);
}
.xedro-bar .brand {
  color: var(--xedro);
}
.xilema-bar {
  -webkit-box-shadow: 0 2px 0 0 var(--xilema);
  box-shadow: 0 2px 0 0 var(--xilema);
  background: -o-linear-gradient(310deg, var(--xilema) 30%, #fff 80%);
  background: linear-gradient(140deg, var(--xilema) 30%, #fff 80%);
}
.xilema-bar .brand {
  color: var(--xilema);
}
#brand-frame {
  resize: horizontal;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 35%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 24rem;
  border-bottom-right-radius: 100px 200%;
    background: -o-linear-gradient(#fff 50%, #dedede);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, #fff),
    to(#dedede)
  );
  background: linear-gradient(#fff 50%, #dedede);
  padding: 8px 24px 8px 16px;
  -webkit-box-shadow: 2px 0 12px -2px #0005;
  box-shadow: 2px 0 12px -2px #0005;
}
.brandi {
  height: 51px;
  width: 51px;
  padding-right: 51px;
}
.i-xavia {
  background: url(https://www.uci.cu/sites/all/themes/uci/images/sprite.png)
    no-repeat 0-1646px;
}
.i-xabal {
  background: url(https://www.uci.cu/sites/all/themes/uci/images/sprite.png)
    no-repeat 0 -1402px;
}
.i-xauce {
  background: url(https://www.uci.cu/sites/all/themes/uci/images/sprite.png)
    no-repeat 0-1524px;
}
.i-xedro {
  background: url(https://www.uci.cu/sites/all/themes/uci/images/sprite.png)
    no-repeat 0-1769px;
}
.i-xilema {
  background: url(https://www.uci.cu/sites/all/themes/uci/images/sprite.png)
    no-repeat 0-1890px;
}

.siglas {
  font-family: Electrofied,sans-serif;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 20pt;
  background: rgb(37,33,89);
background: -moz-linear-gradient(180deg, rgba(37,33,89,1) 0%, rgba(51,59,146,1) 50%, rgba(21,13,66,1) 50%, rgba(53,62,115,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(37,33,89,1) 0%, rgba(51,59,146,1) 50%, rgba(21,13,66,1) 50%, rgba(53,62,115,1) 100%);
background: linear-gradient(180deg, rgba(37,33,89,1) 0%, rgba(51,59,146,1) 50%, rgba(21,13,66,1) 50%, rgba(53,62,115,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252159",endColorstr="#353e73",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stands,.generico {
  font-family: Aller,sans-serif;
  display: inline-block;
  max-width: 200px;
  height: 100%;
  color: var(--standscolor);
  margin-left: 3px;
  font-size: 8pt;
}
.brand {
  text-transform: uppercase;
  color: var(--xabal);
  display: block;
  margin-bottom: -3px;
  /* margin-left: 2px; */
  font-size: 9pt;
  font-weight: 700;
  letter-spacing: -1px;
}
body {
  position: relative;
  margin: 0;
  font-family: sans-serif;
  padding-bottom: 80%;
  color: #555;
}
footer{
  text-align: center;
  width: 100%;
  padding: 32px;
  background: #eee;
}
.codearea {
  width: 100%;
  white-space: pre-wrap;
  border-radius: 4px;
  font-weight: 700;
  box-shadow: 2px 2px 8px 0 #0005 inset;
  line-height: 1.5;
  font-family: monospace;
  overflow-x: auto;
  padding: 16px;
  background: #444;
  color: #eee;
}
textarea.codearea{
  height: 26em;
  
}
summary,
button,
input[type='button'] {
  transition: 0.2s;
}
button,
input[type='button'] {
  color: #0009;
  cursor: pointer;
  font-weight: 700;
  padding: 16px 32px;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
  border: none;
  background: none;
}
button:hover,
input[type='button']:hover{

  background: rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px #0001;
}
button:hover,
input[type='button']:hover,
summary:hover {
  color: var(--p);


}
button:active,
input[type='button']:active {
  transform: translateY(3px);
  box-shadow: 0 0 #0001;
}

/*BORDERRADIUS*/
details,
button,
input[type='button'],
summary {
  border-radius: 4px;
}
details[open]{
  scroll-snap-align: start;
}
summary {
  cursor: pointer;
  padding: 8px 16px;
  text-align: end;
  margin-bottom: -8px;
}
